.formCategory {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  margin-bottom: 5rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.formCategory input {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  margin: 2px;
}
.formCategory button {
  align-self: center;
}
.select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.select h3 {
  text-align: center;
}
