.product {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product div {
  padding: 2px 10px;
}
